<CascadingAuthenticationState>
    <BootstrapBlazorRoot>
        <Router AppAssembly="@typeof(App).Assembly">
            <Found Context="routeData">
                <PageTitle>Title</PageTitle>
                <RouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)" />
                <FocusOnNavigate RouteData="@routeData" Selector="h1" />
            </Found>
            <NotFound>
                <PageTitle>Not found</PageTitle>
                <LayoutView Layout="@typeof(MainLayout)">
                    <p> under development ...</p>
                </LayoutView>
            </NotFound>
        </Router>
    </BootstrapBlazorRoot>
</CascadingAuthenticationState>
